<div class='border border-gray-300 rounded-lg p-4 book-container' id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>
  <% if current_user&.Member? %>
    <%= button_to "Borrow this book", book_borrow_path(book) %>
  <% end %>
  <%= link_to "Show this book", book, class: 'text-blue-600' %>
</div>
